PNL Historical Update.json
{
  "name": "PNL Historical Update",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        416
      ],
      "id": "9476e32a-a2fa-40c0-bfd8-d508bba643c6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mXOZEbn3xrAqNs7A",
          "name": "Google Gemini(PaLM) Gemini API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"trade_date\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"Date of Trade\",\n            \"format\": \"date\"\n\t\t},\n      \"gross_pnl\": {\n\t\t\t\"type\": \"number\",\n            \"description\": \"Gross PNL\"\n\t\t},\n      \"brokerage\": {\n\t\t\t\"type\": \"number\",\n            \"description\": \"Brokerage\"\n\t\t},\n      \"exchange_charges\": {\n\t\t\t\"type\": \"number\",\n            \"description\": \"Exchange Charges\"\n\t\t},\n      \"stt\": {\n\t\t\t\"type\": \"number\",\n            \"description\": \"STT\"\n\t\t},\n      \"total_charges\": {\n\t\t\t\"type\": \"number\",\n            \"description\": \"Total Charges\"\n\t\t},\n      \"net_pnl\": {\n\t\t\t\"type\": \"number\",\n            \"description\": \"Net PNL(including Charges)\"\n\t\t},\n      \"client_id\": {\n\t\t\t\"enum\": [\"YT4169\", \"J238\", \"FT005712\"]\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        416
      ],
      "id": "62859620-dcaf-4a08-93c1-8010f237a6fe",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        512
      ],
      "id": "118b41a5-cd93-404e-9d60-e6c94381f986",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {
          "password": "AXQPG3481J"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        320
      ],
      "id": "963baa8b-ad28-47cc-9062-94b9ba5a6014",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UVccQ-MtToEU0mpXlAS_Yb4c7TECzNXQyuEJSRjev7Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1148040586,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UVccQ-MtToEU0mpXlAS_Yb4c7TECzNXQyuEJSRjev7Q/edit#gid=1148040586"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.output.trade_date }}",
            "Gross PNL": "={{ $json.output.gross_pnl }}",
            "Brokerage": "={{ $json.output.brokerage }}",
            "Exchange Charges": "={{ $json.output.exchange_charges }}",
            "STT": "={{ $json.output.stt }}",
            "Total Charges": "={{ $json.output.total_charges }}",
            "Net PNL": "={{ $json.output.net_pnl }}",
            "Client ID": "={{ $json.output.client_id }}",
            "Processed": "PENDING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gross PNL",
              "displayName": "Gross PNL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brokerage",
              "displayName": "Brokerage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Exchange Charges",
              "displayName": "Exchange Charges",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Charges",
              "displayName": "Total Charges",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client ID",
              "displayName": "Client ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Net PNL",
              "displayName": "Net PNL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        192
      ],
      "id": "1fa4458e-1c1c-4377-b1f6-6ff848993419",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4vaPKc2Yv64X12FW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "CLIENT: FT005712 DIGITAL CONTRACT NOTE",
          "receivedAfter": "2024-04-01T00:00:00",
          "receivedBefore": "2024-06-01T00:00:00"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        320
      ],
      "id": "c1530ad7-5f87-4753-b83d-d14fbd9a98dc",
      "name": "Flattrade",
      "webhookId": "966c4b6d-3999-47da-9678-e4e2318b9242",
      "credentials": {
        "gmailOAuth2": {
          "id": "oqSmMZ5kNBXKV9ne",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "CLIENT: J238 Digital Contract Note",
          "receivedAfter": "2025-08-19T00:00:00",
          "receivedBefore": "2025-09-11T00:00:00"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        704
      ],
      "id": "8cbd7d90-188e-4abd-b4cf-a6122d5649c9",
      "name": "AC Agarwal",
      "webhookId": "966c4b6d-3999-47da-9678-e4e2318b9242",
      "credentials": {
        "gmailOAuth2": {
          "id": "oqSmMZ5kNBXKV9ne",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 200,
        "simple": false,
        "filters": {
          "receivedAfter": "2024-10-13T00:00:00",
          "receivedBefore": "2024-10-15T00:00:00",
          "sender": "no-reply-contract-notes@reportsmailer.zerodha.net"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        512
      ],
      "id": "11c8fc64-f8df-4aad-a912-68696062c4aa",
      "name": "Zerodha",
      "webhookId": "966c4b6d-3999-47da-9678-e4e2318b9242",
      "credentials": {
        "gmailOAuth2": {
          "id": "oqSmMZ5kNBXKV9ne",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze the attached Contract Note below and return in the JSON format:\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an assistant that extracts FNO P&L data from broker contract note text. Ensure you don't combine fno pnl with Equity p&l, you need to calculate all details from the specified contract note only for FNO, no equity\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        192
      ],
      "id": "ae261e73-b712-42b9-b250-082e4d8ef2b7",
      "name": "LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        320
      ],
      "id": "3b1a8333-93f4-4056-a9c6-1b5c283a604a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        320
      ],
      "id": "e2aba72b-58ca-4e8a-bcca-d6c286718246",
      "name": "Wait",
      "webhookId": "52b3ad9a-ccde-4df9-9750-1e4e7f427d8b"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Flattrade",
            "type": "main",
            "index": 0
          },
          {
            "node": "AC Agarwal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zerodha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flattrade": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zerodha": {
      "main": [
        []
      ]
    },
    "AC Agarwal": {
      "main": [
        []
      ]
    },
    "LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "600d707d-db07-45a7-99bd-77d1258cc06f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97cdaab89af73ebd5970b4d23e9d1859d7eb3b935c78db3eb6127ddba5b4902d"
  },
  "id": "VbswQuVWY0bg4mow",
  "tags": []
}